<section>
	<div>
		<div>
			<div class="img-overlay">
				<img *ngIf="restaurant" style="width: 100%;" src="/src/assets/images/restaurant-type/{{restaurant.foodType}}.jpg" />
				<h1 style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -750%); " class="imagetext1" data-position="center"
				 data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
					<span *ngIf="restaurant" class="highlight-texts"><span
						class="section-color2 highlight-text border2" style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -80%); ">Welcome to {{restaurant.name}}</span>					</span>
				</h1>
			</div>
		</div>
	</div>
</section>
<!-- Main Slider End -->

<section id="about" class="col-md-12 col-sm-12 col-xs-12">
	<div class="container">
		<div *ngIf="restaurant" class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">About</span>
				</h2>
				<h2 class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">{{restaurant.name}}</h2>
			</div>
			<!-- Section Header End -->
			<div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown" style="float: left">
				<div>
					<img *ngIf="restaurant" src="src/assets/images/files/profileImageRestaurant1.jpg" />
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
				<div class="row">
					<div class="col-md-11">
						<strong>Food type <span
								class="glyphicon glyphicon-ice-lolly-tasted"></span></strong>
						<p>{{restaurant.foodType}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<strong>Description <span
								class="glyphicon glyphicon-info-sign"></span></strong>

						<p>{{restaurant.description}}</p>

					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<strong>Email <span class="glyphicon glyphicon-envelope"></span></strong>
						<p>{{restaurant.email}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<strong>Address <span class="glyphicon glyphicon-home"></span></strong>
						<p>{{restaurant.address}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<strong>City <span class="glyphicon glyphicon-globe"></span></strong>
						<p>{{restaurant.city.name}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<strong>Telephone <span
								class="glyphicon glyphicon-earphone"></span></strong>
						<p>{{restaurant.phone}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="submit" class="col-l-5 col-md-5 col-sm-5 col-xs-12">
		<form *ngIf="favButton" role="form" method='get'>
			<input type="hidden" id="favPulsed" name="favPulsed" value="true" />
			<button type="submit" class="btnMore" id="fav" style="margin: 10px;">Fav</button>
		</form>
		<form *ngIf="!favButton" role="form" method='get'>
			<input type="hidden" id="unfavPulsed" name="unfavPulsed" value="true" />
			<button type="submit" class="btnMore" id="unfav" style="margin: 10px;">UnFav</button>

		</form>
	</div>
</section>

<app-booking></app-booking>

<section id="services" class="col-md-12 col-sm-12 col-xs-12">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">Services</span>
				</h2>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">We offer you a great variety of meals.</p>
			</div>
			<!-- Section Header End -->
			<div class="our-services">
				<div *ngIf="restaurant" class="row">
					<div *ngIf="restaurant.breakfast" class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
							<div class="icon">
								<h3>Breakfast</h3>
							</div>
							<p>To start the day in the perfect way</p>
							<img src="/src/assets/images/day-food/breakfast.jpg" alt="Custom Image">
						</div>
					</div>
					<div *ngIf="restaurant.lunch" class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
							<div class="icon">
								<h3>Lunch</h3>
							</div>
							<p>Take strength for the rest of the day</p>
							<img src="/src/assets/images/day-food/lunch.jpg" alt="Custom Image">
						</div>
					</div>
					<div *ngIf="restaurant.dinner" class="col-md-4 col-sm-4 col-xs-12 text-xs-center wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
							<div class="icon">
								<h3>Dinner</h3>
							</div>
							<p>End the day with your favourite meal</p>
							<img src="/src/assets/images/day-food/dinner.jpg" alt="Custom Image">
						</div>
					</div>
				</div>
				<div class="row"></div>
			</div>
		</div>
	</div>
</section>
<section class="menus style3 col-md-12 col-sm-12 col-xs-12" id="menu">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<br> <br> <br> <br> <br>
				<h2>
					<span class="highlight-text">Menu</span>
				</h2>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Choose the dish that best suits you</p>
			</div>
			<!-- Section Header End -->
			<div class="menus-container">
				<!-- menu -->
				<div *ngIf="restaurant" class="menu row" id="menus">
					<button id="restaurantid" value="{{restaurant.id}}" style="display: none;"></button>
					<button id="reference" value="0" style="display: none;"></button>


					<div *ngFor="let menu of menus; let i = index" [attr.data-index]="i" class="col-md-6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
						<div class="menu-column">
							<div class="food">
								<div class="food-desc">
									<img src="src/assets/images/files/menuImageRestaurant{{restaurant.id}}{{i+1}}.jpg" />
									<h6 class="food-name">{{menu.dish}}</h6>
									<div class="dots"></div>
									<div class="food-price">
										<span>{{menu.price}}€</span>

									</div>
									<!-- /food-price -->
								</div>
								<!-- /food-desc -->
								<div class="food-details">
									<span>{{menu.description}}</span>
								</div>
								<!-- /food-details -->
							</div>
						</div>
						<!-- /menu-column -->
					</div>

					<!-- /col-md-6 -->
				</div>

				<div *ngIf="seeMorebtn" class="col-md-2 col-md-offset-5 morediv">
					<button (click)="seeMore()" style="position: relative; left: 25%;" class="btnMore" id="seeMore">See More</button>
				</div>

				<!-- /row -->
			</div>
			<!-- /menu-carousel -->
		</div>
		<!-- /menus-container -->
	</div>
	<!-- /container -->
</section>
<section id="gallery" class="bgSection portfolio-section col-md-12 col-sm-12 col-xs-12">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">Gallery</span>
				</h2>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Here you have some photos of our more important products.</p>
			</div>
			<!-- Section Header End -->
		</div>
	</div>
	<!-- Works -->
	<div class="portfolio-works wow fadeIn" data-wow-duration="2s">
		<!-- Filter Button Start -->
		<!--  <div id="portfolio-filter" class="portfolio-filter-btn-group">
				<ul>
					<li><a href="#" class="selected" data-filter="*">ALL</a> <a
						href="#" data-filter=".bur">BURGERS</a> <a href="#"
						data-filter=".mea">MEAT</a> <a href="#" data-filter=".san">SANDWICHES</a>
						<a href="#" data-filter=".sal">SALADS</a></li>
				</ul>
			</div>-->
		<!-- Filter Button End -->
		<div *ngIf="restaurant" class="portfolio-items">
			<!-- Portfolio Items -->
			<div style="float:left;" class="item portfolio-item bur imgbor">
				<img src="/src/assets/images/img-portfolio/{{restaurant.foodType}}1.png" alt="">
				<div class="portfolio-details-wrapper">
					<div class="portfolio-details">
						<div class="portfolio-meta-btn">
							<ul class="work-meta">
								<li class="lighbox"><a href="/src/assets/images/img-portfolio/{{restaurant.foodType}}1.png" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Portfolio Items End -->
			<!-- Portfolio Items -->
			<div style="float:left;" class="item portfolio-item mea imgbor">
				<img src="/src/assets/images/img-portfolio/{{restaurant.foodType}}2.png" alt="">
				<div class="portfolio-details-wrapper">
					<div class="portfolio-details">
						<div class="portfolio-meta-btn">
							<ul class="work-meta">
								<li class="lighbox"><a href="/src/assets/images/img-portfolio/{{restaurant.foodType}}2.png" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Portfolio Items End -->
			<!-- Portfolio Items -->
			<div style="float:left;" class="item portfolio-item imgbor sal">
				<img src="/src/assets/images/img-portfolio/{{restaurant.foodType}}3.png" alt="">
				<div class="portfolio-details-wrapper">
					<div class="portfolio-details">
						<div class="portfolio-meta-btn">
							<ul class="work-meta">
								<li class="lighbox"><a href="/src/assets/images/img-portfolio/{{restaurant.foodType}}3.png" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Portfolio Items End -->
			<!-- Portfolio Items -->
			<div style="float:left;" class="item portfolio-item imgbor bur">
				<img src="/src/assets/images/img-portfolio/{{restaurant.foodType}}4.png" alt="">
				<div class="portfolio-details-wrapper">
					<div class="portfolio-details">
						<div class="portfolio-meta-btn">
							<ul class="work-meta">
								<li class="lighbox"><a href="/src/assets/images/img-portfolio/{{restaurant.foodType}}4.png" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Portfolio Items End -->
		</div>
	</div>
	<!-- Works End -->
</section>
<section id="vouchers" class="section-wrapper col-md-12 col-sm-12 col-xs-12">
	<br> <br> <br>
	<div class="container">
		<div class="row">

			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">Current deals</span>
				</h2>

				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Here you can see the vouchers that the restaurant is offering</p>
			</div>
			<!-- Section Header End -->

			<div class="our-offers">


				<div class="row">

					<div *ngFor="let voucher of vouchers" class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12 text-xs-center wow fadeInDown"
					 data-wow-delay=".2s">
						<div class="service-box">
							<div class="icon">
								<h3>{{voucher.name}}</h3>
							</div>
							<p>{{voucher.description}}</p>
							<p>{{voucher.expiryDate}}</p>
							<img src="src/assets/images/voucher1.jpg" alt="Custom Image"> <br>
							<br>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- Portfolio Section End -->
<section id="reviews" class="bgSection ratings-section col-md-12 col-sm-12 col-xs-12">
	<br> <br> <br>
	<div class="ratings-wrapper wow bounceIn">
		<div class="container">
			<div class="row">
				<!-- Section Header -->
				<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
					<h2>
						<span class="highlight-text-inverted">Reviews</span>
					</h2>
					<p>Here you have some opinions of our clients</p>
					<!-- Works -->
					<div class="recommendations-works wow fadeIn" data-wow-duration="2s">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								<!-- Filter Button Start -->
								<div *ngFor="let review of reviews" id="recommendations-filter" class="recommendations-filter-btn-group" style="margin-bottom:15px;">
									<div class="item recommendations-item web seo">
										<div class="row">
											<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" style="border-right-style: solid;">
												<ul>
													<li>
														<h1 class="shadow">{{review.reviewUser.name}}</h1> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>														<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
													</li>
												</ul>
											</div>
											<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
												<p style="margin: 5px;">{{review.content}}</p>
												<p style="margin: 5px;">{{review.date}}</p>
											</div>
										</div>
									</div>
									<!-- Filter Button End -->
									<!-- Portfolio Items -->
								</div>
								<br>
							</div>
						</div>
						<br>
						<!-- Slides End -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="feedback" class="section-wrapper contact-section col-md-12 col-sm-12 col-xs-12" data-stellar-background-ratio="0.5">

	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">Feedback</span>
				</h2>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 feedbackmar">Tell us how was your experience</p>
			</div>
			<!-- Section Header End -->

			<div *ngIf="inSession" class="contact-details">
				<!-- Contact Form -->
				<div class="contact-form wow bounceInRight">
					<form name="sentMessage" id="contactForm" novalidate method='post' action="/public-restaurant//review">
						<div *ngIf="restaurant" class="form-group col-md-3 col-l-3 col-s-3 col-xs-12 " id="recommendations-filter" style="height: 235px">
							<h2 style="color: #80cc0c !important;">{{restaurant.name}}</h2>
							<span class="glyphicon glyphicon-star" style="color: #80cc0c !important;"></span> <span class="glyphicon glyphicon-star"
							 style="color: #80cc0c !important;"></span> <span class="glyphicon glyphicon-star" style="color: #80cc0c !important;"></span>							<span class="glyphicon glyphicon-star" style="color: #80cc0c !important;"></span> <span class="glyphicon glyphicon-star"
							 style="color: #80cc0c !important;"></span>
							<hr>
							<h4>CURRENT RATE : {{restaurant.rate}}</h4>
							<br>
						</div>
						<div class="col-l-6 col-md-6 col-s-6 col-xs-6">
							<textarea style="border-radius: 0px !important" rows="7" cols="100" class="form-control" name="content" placeholder="Message"
							 id="message" required data-validation-required-message="Please enter your message" minlength="3" data-validation-minlength-message="Min 5 characters"
							 maxlength="999" style="resize:none"></textarea>
						</div>
						<div class="col-l-3 col-md-3 col-s-3 col-xs-6">
							<div class="form-group">
								<label for="filter">Rate</label> <select class="form-control" id="selectStar" name='rate'>
										<option value="1" selected style="border-radius: 0px !important">1</option>
										<option value="2" style="border-radius: 0px !important">2</option>
										<option value="3" style="border-radius: 0px !important">3</option>
										<option value="4" style="border-radius: 0px !important">4</option>
										<option value="5" style="border-radius: 0px !important">5</option>
									</select>
							</div>
							<button type="submit" class="btnMore" (click)="sendReview(rate,content)">Send</button>
						</div>
						<!-- Modal -->
						<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
									</div>
									<div class="modal-body">
										<h2 class="section-header">
											<span class="section-color">Message sent succesfully.
													Thank you for the feedback!</span>

										</h2>
									</div>
									<div class="modal-footer">
										<button type="button" class="btnMore" data-dismiss="modal" aria-label="Close">Got it!</button>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>

			<div *ngIf="!inSession" style="text-align: center;margin: 20px;">
				<h1>Log in before sending feedback!</h1>
			</div>

		</div>
	</div>
</section>

<footer></footer>