<body>

	<!-- Header End -->
	<header>
		<nav id="topNav" class="navbar navbar-default main-menu">
			<div class="container">
				<a [routerLink]="['/new/main/']"> <img class="logo2" id="logo2"
					src="/src/assets/images/logo/logo2.png" alt="logo2">
				</a>
				<button class="navbar-toggler hidden-md-up pull-right" type="button"
					data-toggle="collapse" data-target="#collapsingNavbar">☰</button>
				<div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
					<ul class="nav navbar-nav">
						<li><a [routerLink]="['/new/main/']">GO BACK TO MAIN PAGE</a></li>
					</ul>
				</div>
			</div>
		</nav>


	</header>
	<section style="background-color:#ccc !important;">
	<br>
	<br>
	<br>
	<br>
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 section-header" style="background-color:#ccc !important;">
				<img src="/src/assets/images/error.jpg" />
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
	</section>
