<section *ngIf="restaurant" class="slider-pro slider" id="slider">
	<div class="sp-slides">
		<div class="img-overlay">
			<img *ngIf="restaurant" style="width: 100%;" src="/assets/images/restaurant-type/{{restaurant.foodType}}.jpg" />
			<h1 style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -750%); " class="imagetext1" data-position="center"
			 data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
				<span *ngIf="restaurant" class="highlight-texts">
					<span
						class="section-color2 highlight-text border2" style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -80%); ">Welcome to {{restaurant.name}}</span>				</span>
			</h1>
		</div>
	</div>
</section>

<!-- Main Slider End -->
<section *ngIf="restaurant" id="reservations" class="about-sec section-wrapper description">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<h2>
					<span class="highlight-text">Reservations</span>
				</h2>
			</div>

		</div>
	</div>
	<div class="ratings-wrapper wow bounceIn">
		<div class="container">
			<div class="row">
				<!-- Section Header -->
				<div class="col-l-12 col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
					<!-- Works -->
					<div class="recommendations-works wow fadeIn" data-wow-duration="2s">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h1 class="shadow">In Process</h1>

								<!-- Filter Button Start -->

								<div *ngFor="let booking of bookingsInProcess; let i = index" [attr.data-index]="i">

									<div id="recommendations-filter" class="recommendations-filter-btn-group" *ngIf="booking">

										<div id="{{i}}" class="item recommendations-item web seo">
											<div class="row">
												<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
													<ul>
														<li>
															<h1 class="shadow">{{booking.bookingUser.name}}</h1>
														</li>
													</ul>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8" style="border-left-style: solid;">
													<p *ngIf="restaurant" style="margin: 5px;">Date: {{booking.date}}</p>
													<p *ngIf="restaurant" style="margin: 5px;">{{booking.number}} people coming</p>
													<p *ngIf="restaurant" style="margin: 5px;">{{booking.specialRequirements}}</p>
													<p *ngIf="restaurant" style="margin: 5px;">{{booking.state}}</p>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
													<br>
													<div class="hiddenclass">
														<form role="form" method="post" action="/accept-reservation/">
															<div>
																<input type="hidden" name="acceptPulsed" value="Accepted"> <input type="hidden" name="acceptPulsedID" value={{id}}>
																<button type="input" class="btnMore" (click)="acceptReservation(i)" id="{{i}}-button">
																	Accept <span class="glyphicon glyphicon-ok-circle"
																		aria-hidden="true"></span>
																</button>

															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<!-- Filter Button End -->

									</div>
									<br> </div>

							</div>
							<br>
						</div>
					</div>
					<br>
					<!-- Slides End -->
				</div>
			</div>
		</div>
	</div>
	<div class="ratings-wrapper wow bounceIn">
		<div class="container">
			<div class="row">
				<!-- Section Header -->
				<div class="col-l-12 col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
					<!-- Works -->
					<div class="recommendations-works wow fadeIn" data-wow-duration="2s">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h1 class="shadow">Accepted</h1>

								<!-- Filter Button Start -->

								<div *ngFor="let booking of bookingsAccepted; let i = index" [attr.data-index]="i">

									<div id="recommendations-filter" class="recommendations-filter-btn-group" *ngIf="booking">

										<div id="{{i}}" class="item recommendations-item web seo">
											<div class="row">
												<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
													<ul>
														<li>

															<h1 class="shadow">{{booking.bookingUser.name}}</h1>

														</li>
													</ul>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8" style="border-left-style: solid;">
													<p style="margin: 5px;">Date: {{booking.date}}</p>
													<p style="margin: 5px;">{{booking.number}} people coming</p>
													<p style="margin: 5px;">{{booking.specialRequirements}}</p>
													<p style="margin: 5px;">{{booking.state}}</p>
												</div>
											</div>
										</div>
										<!-- Filter Button End -->

									</div>
									<br> </div>

							</div>
							<br>
						</div>
					</div>
					<br>
					<!-- Slides End -->
				</div>
			</div>
		</div>
	</div>
</section>


<section *ngIf="restaurant" class="menus style3" id="clients">
	<app-voucher  [foodType]='restaurant.foodType'></app-voucher>

	<!-- /col-md-6 -->
	<br>
	<!-- /container -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<h2 class="section-header">
						<span class="section-color">You want to delete your
								profile. Are you sure?</span>
					</h2>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
					<button type="button" class="btn btnMore " data-dismiss="modal" aria-label="Close">Accept</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section *ngIf="restaurant" class="menus style3" id="menu">
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
				<br> <br> <br> <br> <br>
				<h2>
					<span class="highlight-text">Menu</span>
				</h2>
				<p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Choose the dish that best suits you</p>
			</div>
			<!-- Section Header End -->
			<div *ngIf="restaurant" class="menus-container">
				<!-- menu -->
				<div class="menu row" id="menus">
					<button id="restaurantid" value="{{restaurant.id}}" style="display: none;"></button>
					<button id="reference" value="0" style="display: none;"></button>
					<div *ngFor="let menu of menus; let i = index" [attr.data-index]="i" class="col-md-6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
						<div class="menu-column">
							<div class="food">
								<div class="food-desc">
									<img src="https://localhost:8443/private-restaurant/image/menuImageRestaurant{{restaurant.id}}{{menu.id}}.jpg" />
									<h6 class="food-name">{{menu.dish}}</h6>
									<div class="dots"></div>
									<div class="food-price">
										<span>{{menu.price}}€</span>

									</div>
									<!-- /food-price -->
								</div>
								<!-- /food-desc -->
								<div class="food-details">
									<span>{{menu.description}}</span>
								</div>
								<!-- /food-details -->
							</div>
						</div>
						<!-- /menu-column -->
					</div>

				</div>
				<div class="col-md-2 col-md-offset-5 morediv">
					<button style="position: relative; left: 25%;" class="btnMore" id="seeMore">See More</button>
				</div>
				<!-- /row -->
			</div>
			<!-- /menu-carousel -->
		</div>
		<!-- /menus-container -->
	</div>
	<!-- /container -->
</section>
<section *ngIf="restaurant" class="menus style3" id="menu">
	<div class="container">
		<div class="row">
			<div	class="col-l-3 col-md-3 col-sm-3 col-xs-12 section-header wow fadeInDown">
			</div>
				<br> <br> <br>
				<!-- Section Header End -->
			<!-- Section Header -->
			<!-- Section Header End -->
			<div id="profileForm" class="col-l-7 col-md-6 col-sm-7 col-xs-12 customized-text wow fadeInDown black-ed">
				<div *ngIf="restaurant" id="formCol" class="col-l-12 col-md-6 col-sm-7 col-xs-12">
					<h1>Add new dish to menu</h1>
					<form action="/assets/private-restaurant/menu/image/upload" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label >Dish Name:</label> <input  [(ngModel)]="nameDish" [ngModelOptions]="{standalone: true}"   style="border-radius: 0px !important" type="text" class="form-control"
							 id="imageTitle">
						</div>
						<div class="form-group">

							<label >Price</label> <input [(ngModel)]="priceDish" [ngModelOptions]="{standalone: true}" type="text" class="form-control formmargin" name='menuprice' placeholder="Price"
							 id="price" required> <span id='message_dish_price'></span>
						</div>
						<div class="form-group">
							<label >Description:</label>
							<textarea [(ngModel)]="descriptionDish" [ngModelOptions]="{standalone: true}" style="border-radius: 0px !important" class="form-control" id="exampleTextarea" name='menudescription' rows="3"
							 placeholder="Description"></textarea>
						</div>
						<p>
						<label>Image file:</label><input (change)="menuFileChange($event)" type="file" name="file" />
						</p>

						<div>
							<button (click)="createMenu()" class="btnMore" value='Create'>Create Menu </button>
						</div>
					</form>
				</div> 

				<!-- /row -->
			</div>
			</div>
		</div>

	<!-- /row -->



	<!-- /container -->
</section>

<section *ngIf="restaurant" id="feedback" class="bgSection ratings-section">
	<br> <br> <br>
	<div class="parallax-overlay"></div>
	<div class="ratings-wrapper wow bounceIn">
		<div class="container">
			<div class="row">
				<!-- Section Header -->
				<div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
					<h2>
						<span class="highlight-text-inverted">Feedback</span>
					</h2>
					<!-- Works -->
					<div class="recommendations-works wow fadeIn" data-wow-duration="2s">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div *ngFor="let review of reviews" id="recommendations-filter" class="recommendations-filter-btn-group" style="margin-bottom:15px;">
									<div class="item recommendations-item web seo">
										<div class="row" *ngIf="review">
											<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" style="border-right-style: solid;">
												<ul>
													<li>
														<h1 class="shadow">{{review.reviewUser.name}}</h1> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>														<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span>
													</li>
												</ul>
											</div>
											<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
												<p style="margin: 5px;">{{review.content}}</p>
												<p style="margin: 5px;">{{review.date}}</p>
											</div>
										</div>
									</div>
									<!-- Filter Button End -->
									<!-- Portfolio Items -->
								</div>
							</div>
							<button type="button" class="btnMore">See more</button>
						</div>
						<br>
						<!-- Slides End -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section *ngIf="restaurant" id="profile" class="profile-sec section-wrapper description">
	<br> <br> <br>
	<div class="container">
		<div class="row">
			<!-- Section Header -->
			<div class="col-l-3 col-md-3 col-sm-3 col-xs-12 section-header wow fadeInDown">
				<form action="/private-restaurant/image/upload" method="post" enctype="multipart/form-data">
					<input type="hidden" name='imageTitle' /><br /> <img src="https://localhost:8443/private-restaurant/image/profileImageRestaurant{{loginService.user.id}}.jpg" />
					<p>
						<label>Image file:</label><input (change)="fileChange($event)" type="file" name="file" />
					</p>
				</form>
				<br> {{restaurant.description}}

			</div>
			<!-- Section Header End -->
			<div id="profileForm" class="col-l-7 col-md-9 col-sm-7 col-xs-12 customized-text wow fadeInDown black-ed" *ngIf="restaurant">
				<div id="formCol" class="col-l-12 col-md-12 col-sm-7 col-xs-12">
					<h1>Change data</h1>
					<form role="form" method='post' action="/private-restaurant/modify">
						<div class="form-group">
							<label for="name">Restaurant Name: {{restaurant.name}}</label>
						</div>
						<div class="form-group">
							<label for="name">Location:</label> <input *ngIf="restaurant" [(ngModel)]="restaurantUpdate.address" style="border-radius: 0px !important" class="form-control"
							 name="location" value="{{restaurant.address}}">
						</div>
						<div class="form-group">
							<label for="name">Description:</label>
							<textarea [(ngModel)]="restaurantUpdate.description" style="border-radius: 0px !important" class="form-control" name="descriptionrest" rows="3">{{restaurant.description}}</textarea>
						</div>
						<div class="form-group">
							<label for="name">Telephone:</label> <input *ngIf="restaurant" [(ngModel)]="restaurantUpdate.phone" style="border-radius: 0px !important" class="form-control"
							 name="telephone" value="{{restaurant.phone}}">
						</div>
						<div class="form-group">
							<label for="email">Email:</label> <input  [(ngModel)]="restaurantUpdate.email"style="border-radius: 0px !important" type="email" class="form-control" name="emailrest"
							 value="{{restaurant.email}}">
						</div>
						<div class="form-group">
							<label for="pwd">New password</label> <input [(ngModel)]="restaurantUpdate.password" style="border-radius: 0px !important" type="password" class="form-control"
							 name="pwd" placeholder="Enter new password">
							 <small [hidden]="restaurantUpdate.password.length >= 6" class="text-danger">
        							Password minimum length is 6 characters
      						</small>
						</div>
						<div class="form-group">
							<label for="pwd">Repeat new password</label> <input [(ngModel)]="restaurantUpdate.confirmPassword" style="border-radius: 0px !important" type="password" class="form-control"
							 name="confirmpwd" placeholder="Repeat new password">
							 <small [hidden]="restaurantUpdate.password === restaurantUpdate.confirmPassword" class="text-danger">
        						Passwords must be equal
      						</small>
						</div>
						<label for="pwd">Foods you serve:</label> <br> <input type="checkbox" name="Breakfast" value=true checked='checked'>Breakfast <input type="checkbox" name="Lunch" value=true checked='checked'> Lunch <input type="checkbox" name="Dinner"
						 value=true checked='checked'> Dinner<br>
						<div class="form-group">
							<label for="exampleInputFile">Add pictures of the
									restaurant</label> <input style="border-radius: 0px !important" type="file" class="form-control-file" id="exampleInputFile"
							 aria-describedby="fileHelp">
						</div>
						<div class="col-md-3 col-md-offset-10">
							<small [hidden]="restaurantUpdate.password === restaurantUpdate.confirmPassword && restaurantUpdate.password.length >= 6" class="text-danger">
								Fill the form to update
      						</small>
							<button [hidden]="restaurantUpdate.password !== restaurantUpdate.confirmPassword || restaurantUpdate.password.length < 6" (click)="updateRestaurant()" type='submit' class="btnMore">Update</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<br> <br> <br>
</section>

<!-- Contact Section End -->