<section>
  <div class="img-overlay">
    <video autoplay loop style="position: relative;
				bottom: 0%;
				left: 0%;
				height: 100%;
				width: 100%;
				overflow: hidden;
				background: #000;float:left;">
      <source src="/assets/backgroundvideo.mp4" type="video/mp4">
    </video>
    <div style="position: relative;float: left;top: 50%;left: 50%;transform: translate(-50%, -200%); " class="imagetext1" id="search">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group" id="adv-search">

            <input [(ngModel)]="nameRestaurant" type="text" class="form-control" placeholder="Search restaurant by name">
            <span class="input-group-btn">
              <span class="btnMore">
                <button class="btn btn-secondary" type="btnMore" (click)="searchByName()"><a  ng-href="#aux">
                  
                    <span class="glyphicon glyphicon-search" aria-hidden="true" ></span></a>
            
            </button>
            </span>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="menus style3 col-md-12 col-sm-12 col-xs-12" id="top-rated" style="margin-top: -350px;">
  <div class="container">
    <div class="row">
      <!-- Section Header -->

      <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown" style="background:#efefef;">
        <h2>
          <span class="highlight-text">Searched Restaurants</span>
        </h2>
        <h3 class="food-name">Filters</h3>
      </div>
      <!-- Section Header End -->
      <div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                  <form role="form" method='post'>
                    <div class="col-md-3">
                      <div class="input-group">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">min</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="minPrice" [ngModelOptions]="{standalone: 0}"
                          name="minP">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">€</span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">max</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="maxPrice" [ngModelOptions]="{standalone: 100}"
                          name="maxP">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">€</span>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">min</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="minRating" [ngModelOptions]="{standalone: 0}"
                          name="minR">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;"><span
														class="glyphicon glyphicon-star" ></span></span>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;">max</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="maxRating" [ngModelOptions]="{standalone: 5}"
                          name="maxR">
                        <span class="input-group-addon" style="border-radius: 0px !important; -webkit-appearance: none;"><span
														class="glyphicon glyphicon-star"></span></span>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" (click)="searchByParam()" class="btnMore">Search</button>
                    </div>
                  </form>
                  <div>
                    <br>
                    <form>
                      <div class="col-md-6">
                        <div class="paddingtop">
                          <div class="form-group">
                            <select id="cities" name="cities" [(ngModel)]="city" class="form-control">
															<option value="Madrid">Madrid</option>
															<option value="Barcelona">Barcelona</option>
															<option value="Valencia">Valencia</option>
															<option value="Sevilla">Sevilla</option>
															<option value="Zaragoza">Zaragoza</option>
															<option value="Bilbao">Bilbao</option>
															
														</select>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="paddingtop">
                          <div class="form-group">
                            <select id="kindfood" name="kindfood" [(ngModel)]="typefood" class="form-control">
                              <option value="All">All</option>
															<option value="Chinese">Chinese</option>
															<option value="Japanese">Japanese</option>
															<option value="American">American</option>
															<option value="Thai">Thai</option>
															<option value="Tapas">Tapas</option>
															<option value="Galician">Galician</option>
															<option value="Mexican">Mexican</option>
                              <option value="Italian">Italian</option>
                              <option value="Indian">Indian</option>
                              
														</select>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="menus-container" name="aux">
        <!-- menu -->
        <div class="menu row rowmar">
          <div class="col-md-12 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
            <div class="menu-column">

              <button *ngFor="let restaurant of restaurants" [routerLink]="['/new/public-restaurant/'+restaurant.name]" class="food">

									<div class="food-desc">
										<h3 class="food-name">
											<strong>{{restaurant.name}} ({{restaurant.foodType}})</strong>
										</h3>
										<br>
										<div class="row">
											<div class="col-md-4 col-xs-9">
												<img src="/assets/images/search-page/search{{restaurant.foodType}}.jpg" />
											</div>
											<div class="col-md-6 col-xs-9">
												<br>
												<h6 class="food-name" align="center">Opinions</h6>
												<br> 
												<p *ngFor="let review of restaurantReviews">"{{review.content}}"</p>
											</div>
											<div class="col-md-2 col-xs-9">
												<div class="food-price">
													<span><span class="glyphicon glyphicon-star"></span>
														<span class="glyphicon glyphicon-star"></span> <span
														class="glyphicon glyphicon-star"></span> <span
														class="glyphicon glyphicon-star"></span> <span
														class="glyphicon glyphicon-star"></span> <br>RATE:{{restaurant.rate}}
														<br>MENU:{{restaurant.menuPrice}} €</span>
													<hr>
												</div>
											</div>
										</div>
										<!-- /food-price -->
									</div>
									<!-- /food-desc -->
									<div class="food-details">
										<span><span class="glyphicon glyphicon-map-marker"></span>
											 {{restaurant.address}} - Madrid</span><span><span
											class="glyphicon glyphicon-phone"> </span>{{restaurant.phone}}</span>
									</div>
									<!-- /food-details -->
								</button>

            </div>
            <!-- /menu-column -->
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /menu-carousel -->
    </div>
  </div>
</section>
<!-- Client Section End -->
<section id="contact" class="section-wrapper contact-section col-md-12 col-sm-12 col-xs-12" data-stellar-background-ratio="0.5">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <!-- Section Header -->
      <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
        <h2>
          <span class="highlight-text">Contact Us</span>
        </h2>
        <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 feedbackmar">We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
      </div>
      <!-- Section Header End -->
      <div class="contact-details">
				<!-- Contact Form -->
				<div class="contact-form wow bounceInRight">
					<!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
					<form name="sentMessage" id="contactForm" novalidate method='post'>

						<div *ngIf="!loginService.isLogged" class="col-md-6">
							<input #username id="username" type="text" style="border-radius: 0px !important" class="form-control" placeholder="Full Name" required
							 name="feedbackname" value="" data-validation-required-message="Please enter your name" />
							<p class="help-block"></p>
						</div>
						<div *ngIf="!loginService.isLogged" class="col-md-6 emailmar">
							<input #email2 id="useremail" type="email" style="border-radius: 0px !important" class="form-control" placeholder="Email" required
							 name="feedbackemail" value="" data-validation-required-message="Please enter your email" />
						</div>
						<div *ngIf="!loginService.isLogged" class="col-md-12">
							<textarea #body rows="7" cols="100" style="border-radius: 0px !important" class="form-control" placeholder="Message" id="message"
							 required data-validation-required-message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters"
							 maxlength="999" style="resize:none"></textarea>
						</div>
						<div *ngIf="loginService.isLogged" class="col-md-12">
							<textarea #body rows="7" cols="200" style="border-radius: 0px !important" class="form-control" placeholder="Message" id="message"
							 required data-validation-required-message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters"
							 maxlength="999" style="resize:none"></textarea>
						</div>
						<div *ngIf="!loginService.isLogged" class="col-md-6 col-md-offset-5 footermargin morediv">
							<div id="success"></div>
								<button (click)="sendFuguFeedbackOut()" type="button" class="btnMore" data-toggle="modal" data-target="#exampleModalLong">Submit Messages</button>
						</div>
						<div *ngIf="loginService.isLogged" class="col-md-6 col-md-offset-5 footermargin morediv">
							<div id="success"></div>
								<button (click)="sendFuguFeedback()" type="button" class="btnMore" data-toggle="modal" data-target="#exampleModalLong">Submit Messages</button>
						</div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
                  </div>
                  <div class="modal-body">
                    <h2 class="section-header">
                      <span class="section-color">Message sent succesfully.
													Thank you for the feedback!</span>

                    </h2>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btnMore" data-dismiss="modal" aria-label="Close">Got it!</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="col-md-12 col-sm-12 col-xs-12" id="register">
  <div class="modal " id="modalwindow2">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #efefef; border-radius: 0;">
        <div class="modal-header" style="background-color: #28292e !important;">
          <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">&times;</button>
          <ul class="nav navbar-nav">
            <li class="active"><a (click)="goTo('#modalwindow2')" style="border-radius: 0 !important; color: #777; font-weight: 700; background-color: #efefef">RESTAURANT</a></li>
            <li><a (click)="goTo('#modalwindow')" data-toggle="modal" data-dismiss="modal" style="border-radius: 0 !important; color: #777; font-weight: 700;">CLIENT</a></li>
          </ul>
        </div>
        <div class="modal-body">
          <p class="formmargin">Introduce your following details:</p>
          <form role="form" method='post'>
            <div class="form-group">
              <input type="text" class="form-control formmargin" name='restaurantname' placeholder="Restaurant name" id="restaurantname"
                required> <input type="text" class="form-control formmargin" name='address' placeholder="Address"
                id="restaurantaddress" required>
              <br>
              <div class="form-group">
                <label for="filter">City </label> <select class="form-control" style="border-radius: 0px !important" name='restaurantcity'>
										<option value="Madrid" selected
											style="border-radius: 0px !important">Madrid</option>
										<option value="Barcelona"
											style="border-radius: 0px !important">Barcelona</option>
										<option value="Valencia" style="border-radius: 0px !important">Valencia</option>
										<option value="Sevilla" style="border-radius: 0px !important">Sevilla</option>
										<option value="Zaragoza" style="border-radius: 0px !important">Zaragoza</option>
										<option value="Bilbao" style="border-radius: 0px !important">Bilbao</option>
									</select>
              </div>
              <div class="form-group">
                <label for="filter">Food type </label> <select class="form-control" style="border-radius: 0px !important"
                  name='kindoffood'>
										<option value="Chinese" selected
											style="border-radius: 0px !important">Chinese</option>
										<option value="Japanese" style="border-radius: 0px !important">Japanese</option>
										<option value="American" style="border-radius: 0px !important">American</option>
										<option value="Thai" style="border-radius: 0px !important">Thai</option>
										<option value="Tapas" style="border-radius: 0px !important">Tapas</option>
										<option value="Golician" style="border-radius: 0px !important">Galician</option>
										<option value="Mexican" style="border-radius: 0px !important">Mexican</option>
										<option value="Indian" style="border-radius: 0px !important">Indian</option>
										<option value="Italian" style="border-radius: 0px !important">Italian</option>
									</select>
              </div>
              <br> <input type="email" class="form-control formmargin" name='email' placeholder="Email" id="restaurantemail"
                required>
              <input type="text" class="form-control formmargin" name='phone' placeholder="Phone" id="restaurantphone" required>
              <span id='message_restaurant_phone'></span> <br> <label for="name">Description:</label> <br>
              <textarea style="border-radius: 0px !important" class="form-control" id="restaurantdescription" name='restaurantdescription'
                rows="3" required></textarea>
              <br> <label for="name">Password (6 characters
									min.):</label> <input name="password" id="password_restaurant" type="password" class="form-control formmargin" placeholder="Password"
                required> <input type="password" name="confirm_password" id="confirm_password_restaurant" class="form-control formmargin"
                placeholder="Confirm password" required> <br> <img src="/assets/images/restaurant.png">
              <span id='message_restaurant'></span>
              <p class="formmargin">Upload a profile picture</p>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <!-- logInBtn btnMore -->
              <button type='submit' class="logInBtn" id='sendrestaurant' disabled>Send</button>
              <span id='message_restaurant_button'>Fill the form before
									register</span>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="modal " id="modalwindow">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #efefef; border-radius: 0;">
        <div class="modal-header" style="background-color: #28292e !important;">
          <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">&times;</button>
          <ul class="nav navbar-nav">
            <li class="active"><a (click)="goTo('#modalwindow2')" data-toggle="modal" data-dismiss="modal" style="border-radius: 0 !important; color: #777; font-weight: 700;">RESTAURANT</a></li>
            <li><a (click)="goTo('#modalwindow')" style="border-radius: 0 !important; color: #777; font-weight: 700; background-color: #efefef">CLIENT</a></li>
          </ul>
        </div>
        <div class="modal-body">
          <p class="formmargin">Introduce your following details:</p>
          <form role="form" method='post'>
            <div class="form-group">
              <input type="text" class="form-control formmargin" name='name' placeholder="Name" id="usernameform">
              <input type="text" class="form-control formmargin" name='useremail' placeholder="Email" id="useremailform">
              <br> <input type="text" class="form-control formmargin" name='age' placeholder="Age" id="userageform">
              <span id='message_user_age'></span>
              <div class="form-group">
                <label for="filter">Favourite food</label> <select class="form-control" style="border-radius: 0px !important"
                  name='favouritefood'>
										<option value="Chinese" selected
											style="border-radius: 0px !important">Chinese</option>
										<option value="Japanese" style="border-radius: 0px !important">Japanese</option>
										<option value="American" style="border-radius: 0px !important">American</option>
										<option value="Thai" style="border-radius: 0px !important">Thai</option>
										<option value="Tapas" style="border-radius: 0px !important">Tapas</option>
										<option value="Golician" style="border-radius: 0px !important">Galician</option>
										<option value="Mexican" style="border-radius: 0px !important">Mexican</option>
										<option value="Indian" style="border-radius: 0px !important">Indian</option>
										<option value="Italian" style="border-radius: 0px !important">Italian</option>
									</select>
              </div>
              <br> <label for="name">Description:</label> <br>
              <textarea style="border-radius: 0px !important" class="form-control" id="userdescriptionform" name='clientdescription' rows="3"></textarea>
              <br> <label for="name">Password (6 characters
									min.):</label> <input name='userpassword' type="password" class="form-control formmargin" placeholder="Password"
                id="password_client"> <input type="password" id="confirm_password_client" name="confirm_password" class="form-control formmargin"
                placeholder="Confirm password" id="confirm_password_client"> <br>
            </div>

            <img src="/assets/images/profile.png"> <span id="message_client"></span>
            <p class="formmargin">Upload a profile picture</p>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <button type='submit' class="logInBtn" id='senduser' disabled>Send</button>
            <span id='message_user_button'>Fill the form before
								register</span>
          </form>

        </div>
      </div>
    </div>
  </div>
  <modal #modalWindow>
    <modal-content style="background-color: #efefef; border-radius: 0;">
      <modal-header style="background-color: #28292e !important;">
        <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">&times;</button>
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="modalWindow2.open()" data-toggle="modal" data-dismiss="modal" style="border-radius: 0 !important; color: #777; font-weight: 700;">RESTAURANT</a></li>
          <li><a (click)="modalWindow.open()" style="border-radius: 0 !important; color: #777; font-weight: 700; background-color: #efefef">CLIENT</a></li>
        </ul>
      </modal-header>
      <modal-content>
        <p class="formmargin">Introduce your following details:</p>
        <form role="form" action="/main/">
          <div class="form-group">
            <input type="text" class="form-control formmargin" name='username' placeholder="Name" id="usernameform">
            <input type="text" class="form-control formmargin" name='useremail' placeholder="Email" id="useremailform"> <br>            <input type="text" class="form-control formmargin" name='userage' placeholder="Age" id="userageform">
            <span id='message_user_age'></span>
            <div class="form-group">
              <label for="filter">Favourite food</label> <select class="form-control" style="border-radius: 0px !important; -webkit-appearance: none;"
                name='favouritefood'>
										<option value="Chinese" selected
											style="border-radius: 0px !important">Chinese</option>
										<option value="Japanese" style="border-radius: 0px !important">Japanese</option>
										<option value="American" style="border-radius: 0px !important">American</option>
										<option value="Thai" style="border-radius: 0px !important">Thai</option>
										<option value="Tapas" style="border-radius: 0px !important">Tapas</option>
										<option value="Galician" style="border-radius: 0px !important">Galician</option>
										<option value="Mexican" style="border-radius: 0px !important">Mexican</option>
										<option value="Indian" style="border-radius: 0px !important">Indian</option>
										<option value="Italian" style="border-radius: 0px !important">Italian</option>
									</select>
            </div>
            <br> <label for="name">Description:</label> <br>
            <textarea style="border-radius: 0px !important" class="form-control" id="userdescriptionform" name='userdescription' rows="3"></textarea>
            <br> <label for="name">Password (6 characters
									min.):</label> <input name='userpassword' type="password" class="form-control formmargin" placeholder="Password"
              id="password_client"> <input type="password" id="confirm_password_client" name="confirm_password" class="form-control formmargin"
              placeholder="Confirm password" id="confirm_password_client"> <br>
          </div>

          <img src="/assets/images/profile.png"> <span id="message_client"></span>
          <button type='submit' class="logInBtn" id='senduser' disabled>Send</button>
          <span id='message_user_button'>Fill the form before
								register</span>
        </form>
      </modal-content>
    </modal-content>
  </modal>
  <modal #modalWindow2>
    <modal-content style="background-color: #efefef; border-radius: 0;">
      <modal-header style="background-color: #28292e !important;">
        <button type="button" class="close" data-dismiss="modal" style="color: #ffffff;">&times;</button>
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="modalWindow2.open(); modalWindow.close();" style="border-radius: 0 !important; color: #777; font-weight: 700; background-color: #efefef">RESTAURANT</a></li>
          <li><a (click)="modalWindow.open(); modalWindow2.close();" data-toggle="modal" data-dismiss="modal" style="border-radius: 0 !important; color: #777; font-weight: 700;">CLIENT</a></li>
        </ul>
      </modal-header>
      <modal-content>
        <p class="formmargin">Introduce your following details:</p>
        <form role="form" action="/main/">
          <div class="form-group">
            <input type="text" class="form-control formmargin" name='restaurantname' placeholder="Restaurant name" id="restaurantname"
              required> <input type="text" class="form-control formmargin" name='restaurantaddress' placeholder="Address"
              id="restaurantaddress" required>
            <br>
            <div class="form-group">
              <label for="filter">City </label> <select class="form-control" style="border-radius: 0px !important; -webkit-appearance: none;"
                name='restaurantcity'>
										<option value="Madrid" selected
											>Madrid</option>
										<option value="Barcelona"
											style="border-radius: 0px !important">Barcelona</option>
										<option value="Valencia" style="border-radius: 0px !important">Valencia</option>
										<option value="Sevilla" style="border-radius: 0px !important">Sevilla</option>
										<option value="Zaragoza" style="border-radius: 0px !important">Zaragoza</option>
										<option value="Bilbao" style="border-radius: 0px !important">Bilbao</option>
									</select>
            </div>
            <div class="form-group">
              <label for="filter">Food type </label> <select class="form-control" style="border-radius: 0px !important; -webkit-appearance: none;"
                name='kindoffood'>
										<option value="Chinese" selected
											style="border-radius: 0px !important">Chinese</option>
										<option value="Japanese" style="border-radius: 0px !important">Japanese</option>
										<option value="American" style="border-radius: 0px !important">American</option>
										<option value="Thai" style="border-radius: 0px !important">Thai</option>
										<option value="Tapas" style="border-radius: 0px !important">Tapas</option>
										<option value="Galician" style="border-radius: 0px !important">Galician</option>
										<option value="Mexican" style="border-radius: 0px !important">Mexican</option>
										<option value="Indian" style="border-radius: 0px !important">Indian</option>
										<option value="Italian" style="border-radius: 0px !important">Italian</option>
									</select>
            </div>
            <br> <input type="email" class="form-control formmargin" name='restaurantemail' placeholder="Email" id="restaurantemail"
              required> <input type="text" class="form-control formmargin" name='restaurantphone' placeholder="Phone" id="restaurantphone"
              required> <span id='message_restaurant_phone'></span> <br> <label for="name">Description:</label> <br>
            <textarea style="border-radius: 0px !important" class="form-control" id="restaurantdescription" name='restaurantdescription'
              rows="3" required></textarea>
            <br> <label for="name">Password (6 characters
									min.):</label> <input name="restaurantpassword" id="password_restaurant" type="password" class="form-control formmargin"
              placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password_restaurant" class="form-control formmargin" placeholder="Confirm password"
              required> <br> <img src="/assets/images/restaurant.png">
            <span id='message_restaurant'></span>
            <!-- logInBtn btnMore -->
            <button type="submit" class="logInBtn" id='sendrestaurant'>Send</button>
            <span id='message_restaurant_button'>Fill the form before
									register</span>
          </div>
        </form>
      </modal-content>
    </modal-content>
  </modal>
</section>
<footer></footer>